h1{ color: blueviolet;}
.abc { font-size: 36px;}
.abc{ font-style: italic;}
.def{ font-style: italic}
.def{ font-size: 36px;}
h2{ color: aquamarine}
h2{ font-size: 36px;}
.ghi{ font-style: italic;}
.ghi{ font-size: 36px;}
.aa { width: 30%;}
.header{text-align: center;}